$imagePath: '~@tjip/emerald-global/scss/images/';
$iconsSystemPath: '~@tjip/emerald-icons/src/icons/system/';
$iconsProductPath: '~@tjip/emerald-icons/src/icons/product/';
@import '~@tjip/emerald-icons/src/scss/_product-icons.scss';
@import '~@tjip/emerald-icons/src/scss/_system-icons.scss';
@import '~@tjip/emerald-global/scss/_emerald_variables.scss';
@import '~@tjip/emerald-global/scss/_emerald_icons.scss';
